@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");

:root {
  --primary-color: #f7f7f7;
  --secondary-color: #644220;
  --border: 0.1rem solid #f7f7f7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", "sans-serif";
  border: none;
  outline: none;
  text-decoration: none;
  transition: 0.3 ease;
  text-transform: capitalize;
}

/* HTML Codes */

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 9rem;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: 0.8rem;
  background-color: var(--primary-color);
}

html::-webkit-scrollbar-track {
  background-color: transparent;
}

html::-webkit-scrollbar-thumb {
  border-radius: 3rem;
  background-color: var(--secondary-color);
}

body {
  background-color: var(--primary-color);
}

section {
  padding: 4rem 10%;
}

a {
  color: var(--secondary-color);
  text-decoration: none;
}

.btn {
  background-color: var(--secondary-color);
  display: inline-block;
  border-radius: 20rem;
  font-size: 1.5rem;
  color: var(--primary-color);
  margin: 1rem;
  padding: 2rem;
  cursor: pointer;
  text-transform: capitalize;
  text-align: center;
}

.btn:hover {
  color: var(--secondary-color);
  background-color: #fff;
  opacity: 0.8;
}

.title {
  color: #644220;
  font-size: 5rem;
  margin-bottom: 3rem;
  border-bottom: 0.3rem solid var(--secondary-color);
}

.title span {
  text-transform: uppercase;
  color: var(--black-color);
}

/* Header Start */

.header {
  background-color: var(--primary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 9rem;
  border-radius: 10rem;
  padding: 2rem 7%;
  margin: 2rem 7%;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.95);
}

.header .logo img {
  height: 7rem;
  width: 7rem;
  border-radius: 30rem;
}

.header .navbar a {
  color: var(--secondary-color);
  margin: 0 2rem;
  font-size: 2rem;
  border-bottom: 0.2rem solid transparent;
}

.header .navbar .active,
.header .navbar a:hover {
  border-color: var(--border);
  padding-bottom: 0.2rem;
}

.header .buttons button {
  background-color: transparent;
  font-size: 2rem;
  cursor: pointer;
}

.header #menu-btn {
  display: none;
}

/* Header End */

/* Home Start */

.homepage {
  background: url(/images/home3.jpg) no-repeat center center/cover;
  min-height: 100vh;
  display: flex;
  align-items: center;
  margin-top: -13rem;
}

.homepage .content {
  max-width: 60rem;
}

.homepage .content h4 {
  color: #fff;
  font-size: 5.1rem;
}

.homepage .content p {
  color: #fff;
  font-size: 1.5rem;
  line-height: 1.5;
  padding: 2rem 0;
  font-weight: 300;
}

/* Home End */

/* Menu Start */

.menu .menu-card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 2rem;
}

.menu .menu-card-container .menu-card {
  background-color: var(--secondary-color);
  color: #fff;
  border-radius: 4rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  min-height: 60rem;
  padding: 3rem;
}

.menu .menu-card-container .menu-card img {
  width: 100%;
  object-fit: cover;
  background-position: center;
  border-radius: 15rem;
  margin-top: 3rem;
}

.menu .menu-card-container .menu-card h3 {
  font-size: 3.2rem;
  padding: 2rem 0;
}

.menu .menu-card-container .menu-card .price {
  font-size: 2.5rem;
  padding: 0.5rem 0;
}

.menu .menu-card-container .menu-card .price span {
  font-size: 1.4rem;
  font-weight: 300;
  text-decoration: line-through;
}

.menu .menu-card-container .menu-card .btn {
  background-color: var(--primary-color);
  color: #644220;
  width: 13rem;
  margin: 0;
}
/*Menu End*/

/*About Start*/

.about .my-about {
  display: flex;
  flex-wrap: wrap;
  column-gap: 2rem;
}

.about .my-about .image {
  flex: 1 1 45rem;
}

.about .my-about img {
  width: 100%;
}

.about .my-about .content {
  flex: 1 1 45rem;
}

.about .my-about .content h3 {
  font-size: 3rem;
  color: var(--secondary-color);
}

.about .my-about .content p {
  font-size: 1.5rem;
  padding: 1rem 0;
}

.about .my-about .content h3,
p,
.btn {
  margin-left: 4rem;
}

/*About End*/

/* Contact Start */

.contact .my-contact {
  display: flex;
  flex-wrap: wrap;
  gap: 1.2rem;
  background-color: var(--secondary-color);
}

.contact .my-contact .map {
  flex: 1 1 45rem;
  object-fit: cover;
  width: 100%;
  height: 52rem;
}

.contact .my-contact form {
  flex: 1 1 45rem;
  text-align: center;
  padding: 4rem 3rem;
}

.contact .my-contact form h2 {
  color: var(--primary-color);
  text-transform: uppercase;
  font-size: 3rem;
}

.contact .my-contact form .input {
  display: flex;
  align-items: center;
  margin: 2rem 0;
  border: var(--border);
  border-radius: 10rem;
}

.contact .my-contact form .input i {
  color: var(--primary-color);
  font-size: 2rem;
  padding-left: 2rem;
}

.contact .my-contact form .input input {
  width: 100%;
  color: #fff;
  text-transform: none;
  background-color: transparent;
  padding: 2rem;
  font-size: 2rem;
}

.contact .my-contact form .btn {
  color: var(--secondary-color);
  background-color: var(--primary-color);
  font-weight: bold;
}

/* Contact End */

/* Footer Start*/

.footer {
  background-color: var(--secondary-color);
  text-align: center;
}

.footer .credit {
  color: var(--primary-color);
  font-size: 2rem;
}

/* Footer End*/

/* Responsive Start */

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  .header {
    padding: 1rem 2rem;
  }

  .header .logo .img {
    height: 7rem;
  }

  section {
    padding: 8rem;
  }
}

@media (max-width: 768px) {
  .header #menu-btn {
    display: inline-block;
  }

  .header .navbar {
    position: absolute;
    width: 35%;
    height: calc(100vh - 25rem);
    top: 99%;
    right: -100%;
    background-color: var(--secondary-color);
  }

  .header .navbar.active {
    right: 2rem;
  }

  .header .navbar a {
    display: block;
    margin: 1rem;
    padding: 1rem;
    color: var(--primary-color);
    font-size: 2rem;
  }
}

@media (max-width: 576px) {
  html {
    font-size: 45%;
  }
}

/* Responsive End */
